body {
	background: #101010;
	color: #fff;
	font: 13px / 1.231 sans-serif;
	*font-size:small;
}

article h2 {
	font-family: Voltaire;
	font-size: 4em;
}

article h3 {
	color: rgba(240, 100, 75, 1);
	font-family: Voltaire;
	font-size: 2em;
}

.story {
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.75);
	height: 1000px;
	margin: 0 auto;
	max-width: 1920px;
	padding: 0;
	position: relative;
	width: 100%;
}

#section_001 {
	background: url(../images/section_001.jpg) 50% 0 no-repeat fixed;
}

#section_002 {
	background: url(../images/section_002.jpg) 50% 0 no-repeat fixed;
}

#section_003 {
	background: url(../images/section_003.jpg) 50% 0 no-repeat fixed;
}

#section_004 {
	background: url(../images/section_004.jpg) 50% 0 no-repeat fixed;
}

#section_005 {
	background: url(../images/section_005.jpg) 50% bottom no-repeat fixed;
}

#section_001 article {
	position: absolute;
	text-align: center;
	top: 400px;
	width: 100%;
}

#section_001 .drGrordbortLogo {
	background: url(../images/drGrordbortLogo.png) 50% 200px no-repeat fixed;
	margin: 0 auto;
	max-width: 1920px;
	min-height: 1000px;
	padding: 0;
	position: relative;
	width: 100%;
}

#section_002 article {
	font-size: 1.25em;
	line-height: 1.5em;
	left: 100px;
	position: absolute;
	text-align: justify;
	top: 50px;
}

#section_002 article p {
	margin-bottom: 25px;
	width: 512px;
}

#section_003 article {
	font-size: 1.25em;
	line-height: 1.5em;
	position: absolute;
	right: 100px;
	text-align: justify;
	top: 50px;
}

#section_003 article p {
	margin-bottom: 25px;
	width: 512px;
}

#section_003 .artistImpression {
	background: url(../images/artistImpression.png) transparent 10% 250px no-repeat fixed;
	margin: 0 auto;
	max-width: 1920px;
	min-height: 1000px;
	padding: 0;
	position: relative;
	width: 100%;
}

#section_004 article {
	font-size: 1.25em;
	line-height: 1.5em;
	left: 100px;
	position: absolute;
	text-align: justify;
	top: 50px;
}

#section_004 article p {
	margin-bottom: 25px;
	width: 512px;
}

#section_004 .photoImpression {
	background: url(../images/photoImpression.png) transparent 10% 250px no-repeat fixed;
	margin: 0 auto;
	max-width: 1920px;
	min-height: 1000px;
	padding: 0;
	position: relative;
	width: 100%;
}

#section_005 article {
	position: absolute;
	text-align: center;
	top: 700px;
	width: 100%;
}

#section_005 .raygunLogo {
	background: url(../images/raygunLogo.png) 50% -2000px no-repeat fixed;
	margin: 0 auto;
	max-width: 1920px;
	min-height: 1000px;
	padding: 0;
	position: relative;
	width: 100%;
}


